body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.products, .product-details, .cart, .checkout {
    margin-bottom: 20px;
}
.cart-items, #cart-summary {
    margin: 20px 0;
    text-align: left;
}

.cart-item, .summary-item {
    margin-bottom: 10px;
}

.product, .cart-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.price {
    color: green;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
